body {
	background:	#EEE;
}

.wrapper {	
  	margin-top:     10%; 
  	margin-bottom:  15%;
}

.form-signin-heading {
	margin-bottom: 1.25rem;
}	
  
.form-signin {
 	max-width:	23.75rem;
  	padding: 	.75rem 2rem 2.5rem;
  	margin:		 0 auto;
  	background-color: #FFF;
  	border:		 0.1rem solid rgba(0,0,0,0.1);  

}
.form-control {
	  position: relative;
	  font-size: 1rem;
	  height: auto;
	  padding: .5rem;
	  @include box-sizing(border-box);
		&:focus {
		  z-index: 2;
		}
	}

input[type="password"] {
	  margin-bottom: 1.25rem;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
}